.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fcbf49;
  height: 250px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-Style: solid;
  border-width: 3px;
  border-color: #ffffff;
}

.App-title {
  font-size: 1.5em;
  color: #ffffff;
}

.App-intro {
  font-size: large;
}

body {
	font-family: sans-serif;
	background-color: #BDCF46;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (min-width:1200px)
    {
        .App{
          width:960px;
          margin: auto;
        }
    }


